@charset "utf-8";
/* CSS Document */

 
* {              /*Para eliminar los paddings y marigins que vienen por default, xej, en los div. Para que xej la imagen quede pegada a los margenes del viewport.*/
    margin:0;
    padding:0;
}


.letra p {
    margin: 1em 0 1em 0; 
 }

 .contenido{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.contenido .izq{
    width: 590px;
    display: grid;
    grid-template-rows: repeat(4, auto)
}



/* ///////////////////////////////////////////////////////////////////////////  */

.botones-idioma-home{
    display: flex;
    /* grid-gap: 10.2rem;  Pero utilicé FLEX, no "grid" .... */
    gap: 19%;
    margin: 1rem 1rem 1rem 1rem;
    /* display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 100px);
    margin:15px;
    padding-left: 10px;
    text-align:left; */
 }
 
 
 
 .HomeButton{ 
    position:relative;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 10px 50px;
    font-size: 16px;
    transition: 0.5s;
    cursor: pointer;
    background: white;
    border-radius: 1px;
 }
 
 
 .HomeButton:hover{
    background: black;
    color: white;
 }
 
 

#IDidioma{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border-radius: 5px;
    border-color: blue;
    border-width: thick;
    cursor: pointer;
    padding: 0.2em;
    width: 100px;
}



/* /////////////////////////////////////////////////////////////////////////  */

.previousnext {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
    
    
    /* margin:15px;
    padding-left: 10px;
    text-align:center; */
 }
 
 #PreviousButton, #NextButton {
    padding: 0.2rem;
    cursor: pointer;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(161, 187, 243);
    transition: 0.8s;
 }
 
 
 #PreviousButton:hover, #NextButton:hover {
    background: rgb(135, 154, 207);
 } 
 

/* //////////////////////////////////////////////////////////////////////////  */


.song .titulo  {
	display: flex;
    justify-content: center;  /*Deja pargenes parejos a los lados del cuadro donde se encuentra el titulo. Dentro de este div izq*/
    text-align: center;         /* Dentro del cuadro del titulo, centra cada linea */
    font-size: 47px;
	font-family: 'Permanent Marker', cursive;
    margin: 1rem 0 1rem 0rem;  /*Espacio arriba y abajo del titulo*/

}


.letra{  
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    text-align: center;
}




p span {color:red;   /*a estos me falta ponerles el div y la explicacion de la letra*/
	position: relative;
}

a{  /* Para sacarle el subrayado y el color azul, así no se ve como un link */
    text-decoration: none;
    color:red;
}	



.MS{    
    font-size: 24px;
    font-style: italic;
    margin: 1rem 0 2.5rem 5rem;
}








