
@charset "utf-8";
/* CSS Document */



/*Para que el menú me lleve de forma smooth a cada disco*/
html{
	scroll-behavior: smooth;
}



.hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 100px); /* vh= view x hight (el alto del dispositivo)*/
}
 
.hero h1{
	font-size: 80px;

}

.hero p{
	font-size: 30px;
	text-transform: uppercase;
	color:rgb(153, 127, 160);
}



/*///////////////MENU DE CADA DISCO///////////////*/



.menu{
	height: 90px;
	box-shadow: 0px 8px 24px 0px saddlebrown;

	position: sticky;
	width: 100%; /* Para centrarlo en todo lo ancho (se salía cuando ponía el position fixed*/
	left: 0; /*Para que este fijado con respecto a la izq y al tope. Ésto por si le pusiese un margen al contenido, para que no le cambie el margen tmbn al header */
	top: 0rem; 
	z-index:10; /* Para que las imagenes no pasen por delante del menú que esta "pegado" siguiendo el scroll */
}

nav a{  /*  accedo a cada uno de los enlaces (a) que estan dentro de nav*/
	flex: 1; /*me aseguro de que todos tengan el mismo tamaño*/
	height: 100%;
	width: auto;
	background-color: sandybrown;
	text-decoration: none;
	display: flex; /*quiero trabajar con flexbox en este enlace tmbn*/
	align-items: center; /*alinea el texto de forma horizontal*/
	justify-content: center; /*alinea el texto de forma vertical*/
	text-align: center; /*si hay 2 renglones y achico la pagina, el contenido de ambos renglones van a quedar centrados*/ 
	color: #000;
	transition: .2s ease-in-out all;
	font-weight: 600;
}


nav a:hover{
	background: #f0f0f0;
}



nav .indicador{
	width: 0px; /*NO pongo un num en concreto. quiero calcular cual va a ser el tamaño (del nombre de cada disco)*/
	height: 7px;  /*un ejemplo*/
	background:rgb(153, 127, 160);
	position: absolute;
	bottom: 0; /*para posicionarlo en la parte de abajo del menú*/
	transition: .3s ease-out all;
	transform: translate(-500px);
}





/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.CARDS-CONTAINER{
	display: flex;
	flex-direction: column;
	gap: 30px;
}



.cards {
	box-sizing: border-box;
	width: 98%;
	margin: auto;
	/* margin-top: 15px; */
	/* padding: 1rem 4.5rem 4rem 0rem;  El espacio entre el contenido y la card */
    padding: 1rem 3rem 4rem 3rem;
	border-radius: 0.7rem;
    box-shadow: rgba(56, 55, 55, 0.8) 8px 8px 23px;
	position: relative;
	top: 6.8rem;
}




.contenedores {
	display: grid;	
}

.contenedor-debut, .contenedor-speaknow, .contenedor-1989, .contenedor-reputation, .contenedor-lover, .contenedor-folklore, .contenedor-evermore{
	grid-template-columns: 1fr 1.5fr 2fr;
}


.contenedor-fearless, .contenedor-red{
	grid-template-columns: 1.5fr 2.5fr 2fr;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.portada{
    display: flex;
	-ms-flex-align: center;
	
}



.portadas img{
	padding:4px;  /* el bordecito que rodea la imagen*/
	background:#666;
	border-radius:20px;  /* cuán redondeada estan los bosdes de la imagen dentro de se bordesito*/
	box-shadow:#7E7E7E 5px 5px 10px;
	width: 230px;
}

.portadas img:hover{
	-webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
	-ms-transition:-ms-transform 0.3s ease-in-out 0.1s;
	-webkit-transform:scale(1.1);

}



.portadas {
	position: relative;
	max-width: 100%;
}


.portadas img.image-hover {
  position: absolute;  /* para que las imagenes (disco nuevo y disco viejo del mismo disco) esten hubicadas en el mismo lugar y no una abajo de otra */
  top: 0; /*top-right-bottom-left tmbn se usan para que ambas imajenes esten positionadas en el mismo lugar*/
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .5s;  /* si quito esta linea, se irá agrandando como las otras imagenes, aunque sin la transicion entre imagenes*/

}
.portadas:hover img.image-hover {
  opacity: 1;
}


.portadas span{
    display: inline-flex;
    flex-direction: column;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.listas{						/*Lo que tienen en común TODOS los discos*/
	display: grid;
}


.listas-debut, .listas-speaknow, .listas-1989, .listas-reputation, .listas-lover, .listas-folklore, .listas.evermore {		/* Lo que tienen en comun estos discos (no tienen canciones FTV) */
	grid-template-columns: 1fr;
}


.listas-fearless, .listas-red{						/*Lo que tienen en comun estos discos (tienen canciones FTV) */
	grid-template-columns: 1fr 1fr;
}






.listas a{				/* con el .album especifico que estoy hablando solo de los 'a' que estan adentro del class "album", y no de otros 'a'*/
	text-decoration:none;
	display:inline-grid;
	color:rgb(97, 10, 85);
	font-weight: 500;
}


.listas a:after{
	content: '';
	display: inline-grid;
	width:0;
	height: 2px;
	background: #fff7fdc7;
	/*background: rgb(153, 127, 160);*/
	transition: width .3s;
	
}


.listas a:hover::after{  /*Cómo se va a ver el titulo de la canción cuando pongo el mouse arriba*/
	width: 105%; /*cuán largo el subrayado*/
	transition: width .3s;
	
}




.canciones ol{
    margin: 0;
    padding: 0;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font:bold;
    font-size:15px;
    line-height: 30px;
    max-height: 440;
}




/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.prologo{
	display: flex;
	-ms-flex-align: center;
	
}

.prologo aside{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font:bold;
	font-size:16px;
}




/* --------------------------------------------     COLORES    ---------------------------------------------------*/


.card-debut{
	background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

.card-fearless{
	background-image: linear-gradient(to top, #feffd1 0%, rgb(245, 234, 87)  100%);
}

.card-speaknow{
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}


.card-red{
	background-image: linear-gradient(-20deg, #e2c3c3 0%, rgb(248, 9, 9) 100%);
}


.card-1989{
	background-image: linear-gradient(to top, #a8edea 0%, #7b7de9 100%);
}


.card-reputation{
	background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
}


.card-lover{
	background-image: linear-gradient(to top, #ace0f9 0%,  #f5bbe8 100%);
}

.card-folklore{
	background-image: linear-gradient(to top, #e9e9e7   0%, #efeeec 1%, #eeeeec 31%,   #c0bfbc 75%, #8d8c8a 100%);
}

.card-evermore{
	background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #c6cccc 100%);
}
